<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File"
            name="allfile"
            fileName="D:\AppLogs\logs\HM_all_${shortdate}.log"
            layout="[${longdate}] - [${uppercase:${level}}] - ${logger} - ${message} ${exception:format=tostring}"/>

    <target xsi:type="File"
            name="errorfile"
            fileName="D:\AppLogs\logs\HM_error_${shortdate}.log"
            layout="[${longdate}] - [${uppercase:${level}}] - ${logger} - ${message} ${exception:format=tostring}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />
  </rules>
</nlog>